.sidebar-light .sidebar-menu-icon.sidemenu-green {
    color: #2ad300 !important;
}
.sidebar-menu-text.sidemenu-green {
    color: #2ad300 !important;
}
.sidebar-light .open > .sidebar-menu-button .sidebar-menu-icon.sidemenu-green  {
    color: #2ad300 !important;
}
.sidebar-light .sidebar-menu-icon.sidemenu-green:before {
    background: #c7ffb9 !important;
}

.sidebar-light .sidebar-menu-icon.sidemenu-orange {
    color: #ff8b00 !important;
}
.sidebar-menu-text.sidemenu-orange {
    color: #ff8b00 !important;
}
.sidebar-light .open > .sidebar-menu-button .sidebar-menu-icon.sidemenu-orange  {
    color: #ff8b00 !important;
}
.sidebar-light .sidebar-menu-icon.sidemenu-orange:before {
    background: #fff6d7 !important;
}

.sidebar-light .sidebar-menu-icon.sidemenu-navy {
    color: #0039b2 !important;
}
.sidebar-menu-text.sidemenu-navy {
    color: #0039b2 !important;
}
.sidebar-light .open > .sidebar-menu-button .sidebar-menu-icon.sidemenu-navy  {
    color: #0039b2 !important;
}
.sidebar-light .sidebar-menu-icon.sidemenu-navy:before {
    background: #cadbff !important;
}

.sidebar-light .sidebar-menu-icon.sidemenu-magenta {
    color: #6c00cd !important;
}
.sidebar-menu-text.sidemenu-magenta {
    color: #6c00cd !important;
}
.sidebar-light .open > .sidebar-menu-button .sidebar-menu-icon.sidemenu-magenta  {
    color: #6c00cd !important;
}
.sidebar-light .sidebar-menu-icon.sidemenu-magenta:before {
    background: #e5c8ff !important;
}

.sidebar-light .sidebar-menu-icon.sidemenu-red {
    color: #b20000 !important;
}
.sidebar-menu-text.sidemenu-red {
    color: #b20000 !important;
}
.sidebar-light .open > .sidebar-menu-button .sidebar-menu-icon.sidemenu-red  {
    color: #b20000 !important;
}
.sidebar-light .sidebar-menu-icon.sidemenu-red:before {
    background: #ffc8c8 !important;
}

.sidebar-light .sidebar-menu-icon.sidemenu-yellow {
    color: #e4d600 !important;
}
.sidebar-menu-text.sidemenu-yellow {
    color: #e4d600 !important;
}
.sidebar-light .open > .sidebar-menu-button .sidebar-menu-icon.sidemenu-yellow  {
    color: #e4d600 !important;
}
.sidebar-light .sidebar-menu-icon.sidemenu-yellow:before {
    background: #fff99a !important;
}

.sidebar-light .sidebar-menu-icon.sidemenu-brown {
    color: #a06600 !important;
}
.sidebar-menu-text.sidemenu-brown {
    color: #a06600 !important;
}
.sidebar-light .open > .sidebar-menu-button .sidebar-menu-icon.sidemenu-brown  {
    color: #a06600 !important;
}
.sidebar-light .sidebar-menu-icon.sidemenu-brown:before {
    background: #ffe6ba !important;
}




